@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  padding: 10px 10px;
  font-weight: bolder;
}

.form-control {
  position: fixed;
  right: 240px;
  top: 10px;
  width: 40%;
}

.btn-primary {
  position: fixed;
  right: 160px;
  top: 10px;
}

.btn-success {
  position: fixed;
  right: 10px;
  top: 10px;
}
.icons {
  width: 50px;
}

.container {
  margin: 0 0 0 0;
  max-width: none;
  border: 2px;
}

.col-2 {
  font-size: x-large;
}

.row {
  margin-bottom: 20px;
}

.weatherIcon {
  width: 100px;
  position: relative;
  top: -20px;
}

.tempToday {
  font-size: 90px;
  margin-bottom: 20px;
}

.temps {
  font-size: medium;
}

.weekly {
  margin-top: 30px;
}

.tempToggle {
  position: relative;
  top: -50px;
}
li {
  list-style: none;
  vertical-align: middle;
}
