@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  padding: 10px 10px;
  font-weight: bolder;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
}
h1 {
  font-size: 26px;
}
ul {
  margin: 0;
  padding: 0;
}

.coder {
  max-width: 600px;
  margin: 30px auto;
}
.form-control {
  font-size: 14px;
  width: 200px;
}

.btn-primary {
  font-size: 14px;
  padding-left: 6px;
  padding-right: 6px;
}

.btn-success {
  font-size: 14px;
  padding-left: 6px;
  padding-right: 6px;
}
.icons {
  width: 50px;
}

.container {
  margin: 0 0 0 0;
  max-width: none;
  border: 2px;
}

.col-2 {
  font-size: large;
}

.row {
  margin-bottom: 20px;
}

.weatherIcon {
  width: 100px;
  position: relative;
  top: -20px;
}

.tempToday {
  font-size: 90px;
  margin-bottom: 20px;
}

.temps {
  font-size: medium;
}

.weekly {
  margin-top: 30px;
}

.tempToggle {
  position: relative;
  top: -50px;
}
li {
  list-style: none;
  vertical-align: middle;
  text-align: left;
}
